.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 80px;
  box-sizing: border-box;
}
.view_map{
  width: 100%;
  height: 100%;
}
.main .tg_head {
  display: flex;
  padding: 10px 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.main .tg_head > li {
  margin-left: 30px;
}
.main .tg_head > li:first-child {
  margin-left: 0;
}
.main .tg_box li {
  display: flex;
  align-items: center;
}
.main .tg_box li > p {
  width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.main .tg_box li > figure {
  width: 15px;
  height: 18px;
  background-image: url(../img/ico.png);
}
.main .tg_box li strong {
  font-size: 16px;
  font-weight: bold;
}
.main .search {
  display: inline-flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 15px 20px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 112px;
}
.main .search select {
  min-width: 140px;
  border: 1px solid #117757;
  border-radius: 4px;
  padding: 6px 16px;
  color: #117757;
  margin-right: 10px;
}
.main .search button {
  display: flex;
  padding: 6px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #188764;
  color: #fff;
  border: none;
  white-space: nowrap;
}
.main .search button i{
  margin-right: 6px;
}
.main .side_bar {
  background-color: #f7f8fa;
  box-sizing: border-box;
  box-shadow: -10px 0px 6px -2px rgba(217, 217, 217, 0.8);
  transition: all 0.3s;
  width: 370px;
  padding: 20px;
}
.main .side_bar.active {
  width: 0;
  padding: 0;
}
.main .side_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #39b48e;
}
.main .side_head select {
  width: 180px;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #c4cbd6;
  font-size: 16px;
  font-weight: bold;
}
.main .side_head > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}
.main .side_head > ul > li {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}
.main .side_head > ul > li:first-child {
  margin-left: 0;
}
.main .side_head > ul > li span {
  display: inline-block;
  width: 13px;
  height: 13px;
  filter: blur(1px);
  border-radius: 100%;
}
.main .side_head .red span {
  background-color: #f21818;
}
.main .side_head .orange span {
  background-color: #ec7d17;
}
.main .side_head .green span {
  background-color: #23cf3e;
}
.main .side_body {
  padding: 10px 0;
  overflow-y: scroll;
  height: 100%;
}
.main .side_body .bt_guide {
  display: flex;
  align-items: center;
  margin-left: auto;
  background: none;
  border: none;
  font-weight: bold;
  margin-bottom: 12px;
}
.main .side_body button img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
.main .side_body .list > li {
  width: 310px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.main .side_body .list .top {
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: var(
    --type-1-bg,
    linear-gradient(133deg, #18a7a1 0%, #60c276 100%)
  );
}
.main .side_body .list .top h5 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.main .side_body .list .top span {
  display: inline-block;
  width: 13px;
  height: 13px;
  filter: blur(1px);
  border-radius: 100%;
}
.main .side_body .list .top .red {
  background-color: #e23d5b;
}
.main .side_body .list .top .orange {
  background-color: #ec7d17;
}
.main .side_body .list .top .green {
  background-color: #23cf3e;
}
.main .side_body .list .top > div {
  display: flex;
  color: #fff;
}
.main .side_body .list .top > div img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.main .side_body .list .top > div strong {
  font-size: 18px;
  font-weight: bold;
}
.main .side_body .list .mid {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding: 10px 16px;
  border: 1px solid #ebebeb;
  border-top: none;
}
.main .side_body .list .mid ul {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 12px;
}
.main .side_body .list .mid p {
  color: #828382;
  margin-bottom: 8px;
  font-size: 14px;
}
.main .side_body .list .mid strong {
  font-size: 18px;
  font-weight: bold;
  color: #232830;
}
.main > article .tg_bt {
  border: none;
  background: none;
  width: 25px;
  height: 45px;
  padding: 0;
  z-index: 1;
  transform: rotate(0);
}
.main > article .tg_bt.active {
  transform: rotate(180deg);
}
.main > article {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  display: flex;
}
.m_main {
  display: none;
}
.weather .temp{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.weather .icon{
  width: 40px;
  height: 40px;
  margin-left: 12px;
}
.weather .water{
  font-weight: bold;
  color: blue;
}
.side_body .top i{
  margin-right: 5px;
  transform: rotate(-90deg);
}
.main .side_body .list .mid .time{
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  header{
    position: relative;
    z-index: 100;
  }
  .main {
    display: none;
  }
  .m_main {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 13.889vw;
    box-sizing: border-box;
  }
  .m_view_map{
    width: 100%;
    height: 100%;
  }
  .m_main .search {
    width: 100%;
    display: inline-flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 4.167vw 5.556vw;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
  }
  .m_main .search select {
    width: 35%;
    border: 1px solid #117757;
    border-radius: 4px;
    padding: 1.667vw 5.556vw;
    color: #117757;
    margin-right: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
  }
  .m_main .search button {
    display: flex;
    padding: 1.667vw 4.167vw;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #188764;
    color: #fff;
    border: none;
    white-space: nowrap;
  }
  .m_main .search button i{
    margin-right: 1.667vw;
  }
  .m_main article{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 75%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  .m_main .side_bar {
    background-color: #f7f8fa;
    box-sizing: border-box;
    box-shadow: -10px 0px 6px -2px rgba(217, 217, 217, 0.8);
    display: none;
  }
  .m_main .side_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.778vw 4.167vw;
    border-bottom: 1px solid #39b48e;
  }
  .m_main .side_head select {
    width: 55%;
    padding: 2.222vw 2.778vw;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #c4cbd6;
    font-size: 4.444vw;
    font-weight: bold;
  }
  .m_main .side_head > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.778vw;
  }
  .m_main .side_head > ul > li {
    font-size: 4.444vw;
    font-weight: bold;
    margin-left: 1.667vw;
  }
  .m_main .side_head > ul > li:first-child {
    margin-left: 0;
  }
  .m_main .side_head > ul > li span {
    display: inline-block;
    width: 3.611vw;
    height: 3.611vw;
    filter: blur(1px);
    border-radius: 100%;
  }
  .m_main .side_head .red span {
    background-color: #f21818;
  }
  .m_main .side_head .orange span {
    background-color: #ec7d17;
  }
  .m_main .side_head .green span {
    background-color: #23cf3e;
  }
  .m_main .side_body {
    padding: 2.778vw 0;
    max-height: 65vh;
    overflow-y: scroll;
  }
  .m_main .side_body .bt_guide {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-weight: bold;
    margin: 0 5vw 2.778vw auto;
    color: #000;
  }
  .m_main .side_body button img {
    width: 4.167vw;
    height: 4.167vw;
    margin-right: 1.111vw;
  }
  .m_main .side_body .list > li {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3.333vw;
  }
  .m_main .side_body .list .top {
    border-radius: 4px 4px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.333vw 4.444vw;
    background: var(
      --type-1-bg,
      linear-gradient(133deg, #18a7a1 0%, #60c276 100%)
    );
  }
  .m_main .side_body .list .top h5 {
    font-size: 3.889vw;
    font-weight: bold;
    color: #fff;
  }
  .m_main .side_body .list .top span {
    display: inline-block;
    width: 3.611vw;
    height: 3.6111vw;
    filter: blur(1px);
    border-radius: 100%;
  }
  .m_main .side_body .list .top .red {
    background-color: #e23d5b;
  }
  .m_main .side_body .list .top .orange {
    background-color: #ec7d17;
  }
  .m_main .side_body .list .top .green {
    background-color: #23cf3e;
  }
  .m_main .side_body .list .top > div {
    display: flex;
    color: #fff;
    font-size: 3.333vw;
  }
  .m_main .side_body .list .top > div img {
    width: 5vw;
    height: 5vw;
    margin-right: 2.778vw;
  }
  .m_main .side_body .list .top > div strong {
    font-size: 3.889vw;
    font-weight: bold;
  }
  .m_main .side_body .list .mid {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    padding: 2.778vw 4.444vw;
    border: 1px solid #ebebeb;
    border-top: none;
  }
  .m_main .side_body .list .mid ul {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 2.778vw;
    padding-bottom: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 3.333vw;
  }
  .m_main .side_body .list .mid ul:nth-child(2){
    justify-content: space-around;
  }
  .m_main .side_body .list .mid p {
    color: #828382;
    margin-bottom: 2.222vw;
    font-size: 3.889vw;
  }
  .m_main .side_body .list .mid strong {
    font-size: 5vw;
    font-weight: bold;
    color: #232830;
  }
  .m_main .touch_line{
    padding: 2.778vw 0;
    background-color: #f7f8fa;
    border-bottom: 2px solid #d7dde3;
  }
  .m_main .touch_line span{
    display: block;
    width: 16.667vw;
    height: 1.11vw;
    border-radius: 5px;
    background-color: #c4cbd6;
    margin: 0 auto;
  }
  .guide_pop{
    width: 92%;
    padding: 5.556vw;
    box-sizing: border-box;
    max-height: 70%;
    overflow-y: scroll;
  }
  .guide_pop h4{
    display: none;
  }
  .guide_pop li{
    display: flex;
    margin-bottom: 3.333vw;
    align-items: flex-start;
    justify-content: space-between;
  }
  .guide_pop li div{margin-bottom: 2.778vw;width: 49%;}
  .guide_pop li>p{font-size: 3.889vw;width: 49%;}
  .guide_pop strong{font-size: 4.444vw;}
  .guide_pop ul{max-height: 80vh;overflow-y: scroll;}
}
.m_main .side_body .list .mid .time{
  color: #000;
  text-align: center;
  font-weight: bold;
}