nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
nav .logo {
  width: 80px;
  background-color: #42ad8c;
  padding: 16px 0;
}
nav .logo img {
  width: 2.604vw;
  margin: 0 auto;
}
nav .dep1 {
  width: 80px;
  height: 100%;
  background-color: #219c76;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
nav .dep1 > li {
  display: flex;
  width: 80px;
  margin-bottom: 30px;
  justify-content: center;
}
nav .dep1 > li:first-child {
  margin-top: 30px;
}
nav .dep1 li figure {
  width: 44px;
  height: 44px;
  background-color: #42ad8c;
  padding: 10px;
  box-sizing: border-box;
}
nav .dep2 {
  position: absolute;
  left: -99999px;
  background-color: #117757;
}
nav .dep2 li {
  width: 170px;
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  color: #fff;
  font-weight: bold;
}
nav .dep2.active {
  left: 80px;
}
nav .dep1 > li.active {
  background-color: #117757;
}
nav .dep1 > li.active figure {
  background-color: #117757;
}
.main {
  margin-left: 80px;
}
.main .tg_head {
  display: flex;
  padding: 10px 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.main .tg_head > li {
  margin-left: 30px;
}
.main .tg_head > li:first-child {
  margin-left: 0;
}
.main .tg_box li {
  display: flex;
  align-items: center;
}
.main .tg_box li > p {
  width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.main .tg_box li > figure {
  width: 15px;
  height: 18px;
  background-image: url(../img/ico.png);
}
.main .tg_box li strong {
  font-size: 16px;
  font-weight: bold;
}
