.header-reg{
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1;
	width: 100%;	
}

.head-reg{
	padding: 20px 40px;
	box-sizing: border-box;
	background: linear-gradient(90.94deg, #18A7A1 1.24%, #60C276 100%);
}

.logo-reg {
	display: block;
    width: 121.5px;
    height: 36.6px;
    background: url('../img/logo-horizontal-white.png');
  }


 .footer-reg {
	position: fixed;
	width: 92%;
	border-top: 1px solid #C4CBD6;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	height: 40px;
	background-color: #fff;
 }
 .footer-reg>ul{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 0;
 }
 .footer-reg>ul li{
	padding: 0 15px;
	border-left: 1px solid #c4cbd6;
 }
 .footer-reg>ul li:first-child{border-left: 0;}

 .register{
	padding-top: 120px;
	padding-bottom: 100px;
	box-sizing: border-box;
	width: 620px;
	margin: 0 auto;
 }
 .register .top{display: flex;align-items: flex-end;justify-content: space-between;padding-bottom: 30px;}
 .register .top h2{font-size: 30px;font-weight: bold;}
 .register .top p{font-size: 16px;}
 .register .star{color: #188764;font-size: 18px;font-weight: bold;vertical-align: middle;padding: 0 5px;}
 .register .mid{border-top: 1px solid #000;border-bottom: 1px solid #000;padding: 30px 0;}
 .register .mid table{width: 100%;}
.register .mid th{font-size: 16px;font-weight: bold;text-align: start;width: 150px;}
.register .mid table{border-spacing: 15px;border-collapse: separate;}
.register .mid table select,.register .mid table input{
	border-radius: 2px;
	border: 1px solid #e0e4ea;
	background-color: #f8f9fb;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	font-size: 16px;
	height: 40px;
}
.register .mid .flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.register .mid .ex{
	display: flex;
	align-items: center;
	font-weight: bold;
}
.register .mid .ex img{width: 16px;margin-right: 8px;}
.register .mid table input[type='button']{
	padding: 10px 24px;
	border: 1px solid #41ad8d;
	background-color: #fff;
	color: #41ad8d;
	width: auto;
	font-weight: bold;
}
.register .mid table input[type='number']{
	text-align: center;
	width: 30%;
}
.register .mid .line{display: block;width: 10px;height: 2px;background-color: #000;margin: 0 5px 0 5px;}
.register .mid .at{display: block;margin: 0 5px 0 5px;font-size: 18px;}
.register .ck_box{padding: 30px 0;font-size: 16px;font-weight: bold;}
.register .ck_box .all{margin-bottom: 15px;}
.register .ck_list{padding: 15px;background-color: #f8f9fb;}
.register .ck_list>.flex:first-child{margin-bottom: 10px;}
.register .ck_list button{border: 1px solid #86919f;background-color: #fff;padding: 2px 10px;}
.register .bot{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}
.register .bot button{
	padding: 12px 40px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 4px;
	box-sizing: border-box;
}
.register .bot .bt_save{
background-color: #188764;
color: #fff;
}
.register .bot .yes{
background-color: #188764;
color: #fff;
}
.register .bot .bt_cancel{
	color: #188764;
	border: 1px solid #188764;
	margin-left: 12px;
}
.register .bot .no{
	color: #188764;
	border: 1px solid #188764;
	margin-left: 12px;
}
.terms_a>div,.terms_b>div{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	border-radius: 8px;
	width: 600px;
	padding: 40px 20px;
}
.terms_a h3,.terms_b h3{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
.terms_a .text,.terms_b .text{
	white-space: pre-line;
	border-top: 1px solid #c4cbd6;
	border-bottom: 1px solid #c4cbd6;
	padding: 20px 0;
	height: 550px;
	overflow-y: scroll;
	margin-bottom: 20px;
	font-size: 16px;
}
.modal .text strong{
	font-weight: bold;
}
.modal .bt_ok{
	display: block;
	padding: 12px 40px;
	border-radius: 4px;
	background-color: #188764;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
}

.register>h3{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

@media screen and (max-width: 800px){
	.head-reg{
		padding: 2.778vw 5.556vw;
	}
	.logo-reg{
		width: 22.222vw;
		margin: 0 auto;
		background-size: 100%;
		background-repeat: no-repeat;
		height: 8.333vw;
	}
	.register{
		width: 100%;
		padding-top: 13.889vw;
		padding-bottom: 13.889vw;
	}
	.register>h3{
		font-size: 6.667vw;
		padding: 8.333vw 0;
	}
	.register .mid{
		width: 92%;
		margin: 0 auto;
	}
	.register .mid th{
		width: 30%;
		font-size: 3.889vw;
		word-break: keep-all;
	}
	.register .mid table select, .register .mid table input{
		font-size: 3.889vw;
		height: 9.723vw;
		padding: 0 2.778vw;
	}
	.register .mid .at{
		font-size: 3.333vw;
	}
	.register .wrap{
		display: flex;
		flex-wrap: wrap;
	}
	.register .mid .mail input{
		width: 40%;
	}
	.register .mail select{
		margin-top: 3.333vw;
	}
	.register .mid table input[type='button']{
		display: block;
		width: 100%;
	}
	.register .mid .pad input[type='button']{
		margin-top: 3.333vw;
	}
	.footer-reg{
		display: none;
	}
	.register .bot{
		padding: 8.333vw 0;
	}
	.register .bot button{
		padding: 3.333vw 11.111vw;
		font-size: 4.444vw;
	}
	.register .top{
		width: 92%;
		margin: 0 auto;
		padding-top: 8.333vw;
		padding-bottom: 4.444vw;
	}
	.register .top h2{
		font-size: 6.667vw;
	}
	.register .top p{
		font-size: 3.889vw;
	}
	.register .mid .ex{
		font-size: 3.333vw;
	}
	.register .mid .ex img{
		width: 3.333vw;
		height: 3.333vw;
	}
	.terms_a>div, .terms_b>div{
		width: 92%;
		box-sizing: border-box;
		padding: 3.333vw;
	}
	.terms_a .text, .terms_b .text{
		font-size: 3.889vw;
	}
	.terms_a h3, .terms_b h3{
		font-size: 5.556vw;
		margin-bottom: 2.222vw;
	}
}