@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 3.889vw;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.intro {
  width: 100%;
  height: 100%;
  background: radial-gradient(#06E9EE, #00BDD6);
  position: relative;
}
.intro .bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: #FFF;
  text-align: center;
}
.intro .center figure {
  margin-bottom: 3.333vw;
}
.intro .center span {
  display: block;
  font-weight: 300;
  margin-bottom: 3.333vw;
}
.intro .center p {
  font-size: 8.333vw;
  font-weight: 400;
}

.login {
  height: 100%;
  position: relative;
}
.login .login_h {
  background: #00BCD4;
  width: 100%;
  padding: 16.667vw;
  box-sizing: border-box;
  border-radius: 0 0 4.444vw 4.444vw;
  position: absolute;
  top: 0;
  left: 0;
}
.login .login_h > div {
  width: 33.333vw;
  margin: 0 auto;
}
.login .login_h > div figure {
  margin-bottom: 3.333vw;
}
.login .login_h > div figcaption {
  text-align: center;
  color: #fff;
  font-size: 6.667vw;
}
.login .login_h > button {
  position: absolute;
  top: 16.667vw;
  right: 12%;
  background-color: #FFF;
  border-radius: 2.222vw;
  padding: 2.222vw 4.444vw;
  color: #00BCD4;
  z-index: 10;
}
.login > form {
  width: 100%;
  position: absolute;
  top: 73vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.login > form > .box {
  box-shadow: 0px 2px 4px 4px rgba(0, 188, 212, 0.15);
  border-radius: 3.333vw;
  padding: 12.222vw 5.556vw;
  z-index: 200;
  width: 70%;
  margin: 0 auto 8.333vw;
  box-sizing: border-box;
  background-color: #FFF;
}
.login > form > .box h5 {
  font-size: 4.444vw;
  margin-bottom: 2.222vw;
}
.login > form > .box > input {
  background-color: #F5F8FA;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  padding: 1.111vw 3.333vw;
  margin-bottom: 6.667vw;
}
.login > form > .box .ck_box input {
  display: none;
}
.login > form > .box .ck_box input + label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.login > form > .box .ck_box input + label div {
  width: 4.444vw;
  height: 4.444vw;
  background: url(../image/ck_off.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 2.222vw;
}
.login > form > .box .ck_box input:checked + label div {
  width: 4.444vw;
  height: 4.444vw;
  background: url(../image/ck_on.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 2.222vw;
}
.login > form .btn {
  box-shadow: 0px 2px 4px 4px rgba(0, 188, 212, 0.3);
  background-color: #00BCD4;
  color: #FFF;
  width: 50%;
  padding: 3.333vw 0;
  font-size: 4.444vw;
  border-radius: 8.333vw;
  display: block;
  margin: 0 auto 6.667vw;
}
.login > form p {
  text-align: center;
}

.scan {
  width: 100%;
  height: 100%;
  background-color: #EBF1F5;
  padding: 16.667vw 5.556vw;
  box-sizing: border-box;
}
.scan h3 {
  margin-bottom: 3.333vw;
}
.scan .screen {
  width: 100%;
  height: 70vh;
  background-color: #D9D9D9;
  margin-bottom: 5.556vw;
}
.scan .flex {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  margin: 0 auto;
  padding: 8.333vw 0;
}
.header h2 {
  color: #FFF;
  font-size: 5.556vw;
}
.header .empty {
  width: 5.556vw;
}
.header .back {
  width: 5.556vw;
}
.header .menu_o {
  width: 5.556vw;
  height: 5.556vw;
}
.header .menu_o span {
  display: block;
  height: 2px;
  background-color: #000;
  margin-bottom: 4px;
  border-radius: 8px;
}
.header .menu_container {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.header .menu_container .menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
}
.header .menu_container .menu .top {
  background-color: #00BCD4;
  padding: 2.222vw 0;
  border-radius: 0px 0px 30px 0px;
}
.header .menu_container .menu .top figure {
  width: 19.222vw;
  margin: 0 auto 2.222vw;
}
.header .menu_container .menu .top figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  margin: 0 auto;
}
.header .menu_container .menu .top figcaption p {
  color: #FFF;
  font-size: 5.556vw;
}
.header .menu_container .menu .top figcaption .empty {
  width: 5.556vw;
}
.header .menu_container .menu .logout {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00BCD4;
  padding: 5.556vw 3.889vw 3.889vw 3.889vw;
  border-radius: 30px 0 0 0;
  box-sizing: border-box;
  cursor: pointer;
}
.header .menu_container .menu .logout p {
  background: url(../image/logout.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: #FFF;
  font-size: 5vw;
  padding: 4vw 0;
}
.header .menu_container .menu .dep1 {
  width: 92%;
  margin: 0 auto;
  padding: 13.889vw 0;
  box-sizing: border-box;
}
.header .menu_container .menu .dep1 li .list {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding: 4.167vw 0;
}
.header .menu_container .menu .dep1 li .list figure {
  width: 4.167vw;
}
.header .menu_container .menu .dep1 li .list figcaption {
  margin-left: 3.617vw;
  font-size: 5vw;
}
.header .menu_container .menu .dep1 li .dep2 {
  display: none;
  color: #808080;
  margin-left: 3.222vw;
}
.header .menu_container .menu .dep1 li .dep2 figure {
  width: 1.111vw;
}
.header .menu_container .menu .dep1 li .dep2 figcaption {
  font-size: 3.889vw;
}
.header .menu_container .menu_c {
  width: 5.556vw;
  height: 5.556vw;
}
.header .menu_container .menu_c span {
  display: block;
  height: 2px;
  background-color: #FFF;
  margin-bottom: 4px;
  border-radius: 8px;
}
.header .menu_container .menu_c span:nth-child(1) {
  width: 50%;
}
.header .menu_container .menu_c span:nth-child(3) {
  width: 50%;
  margin-left: auto;
}

.cal_h .menu_o span {
  background-color: #FFF;
}

.result {
  width: 100%;
  box-sizing: border-box;
}
.result .box {
  border-radius: 15px;
  background-color: #FFF;
  width: 92%;
  margin: 0 auto 4.444vw;
  padding-bottom: 8.333vw;
  box-sizing: border-box;
}
.result .box h3 {
  width: 20vw;
  padding: 2.222vw 8.333vw;
  background-color: #00BCD4;
  color: #FFF;
  text-align: center;
  margin: 0 auto 6.667vw;
  border-radius: 0 0 30px 30px;
}
.result .box ul {
  width: 92%;
  margin: 0 auto;
}
.result .box ul li {
  margin-bottom: 3.333vw;
  line-height: 1.5;
}
.result .box ul li strong {
  font-weight: bold;
}
.result .box ul li figure {
  margin-top: 3.333vw;
}
.result .box p {
  text-align: center;
}
.result .box .highcharts-title {
  display: none;
}
.result .box .highcharts-credits {
  display: none;
}
.result .follow {
  width: 92%;
  margin: 0 auto 4.444vw;
  padding-bottom: 8.333vw;
  box-sizing: border-box;
}
.result .follow h3 {
  padding: 4.167vw 0;
  background-color: #00BCD4;
  color: #FFF;
  text-align: center;
  margin: 0 auto 6.667vw;
  border-radius: 30px;
}
.result .follow ul {
  display: flex;
  justify-content: space-between;
}
.result .follow ul li {
  width: 48%;
}
.result .follow ul li figure {
  border: 1px solid #00BCD4;
  height: 27.3vw;
  margin-bottom: 2.222vw;
}
.result .follow ul li figcaption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg {
  background: #EBF1F5;
}

header {
  background-color: #00BCD4;
  padding: 2.222vw 0;
  border-radius: 0 0 30px 30px;
  margin-bottom: 8.333vw;
}

.user_data {
  padding-bottom: 8.333vw;
}
.user_data .ex {
  width: 92%;
  margin: 0 auto 6.667vw;
}
.user_data table {
  width: 92%;
  margin: 0 auto 6.667vw;
}
.user_data table tr {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.444vw;
}
.user_data table tr th {
  text-align: start;
  margin-bottom: 3.333vw;
}
.user_data table tr td input {
  border: 1px solid #00BCD4;
  border-radius: 30px;
  background: #F5F8FA;
  padding: 0 3.333vw;
  box-sizing: border-box;
  width: 100%;
  height: 11.111vw;
  text-align: center;
}
.user_data table tr td .ra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_data table tr td .ra input {
  display: none;
}
.user_data table tr td .ra input + label {
  border: 1px solid #00BCD4;
  border-radius: 30px;
  background: #F5F8FA;
  width: 45%;
  height: 11.111vw;
  line-height: 11.111vw;
  padding: 0 3.333vw;
  box-sizing: border-box;
  text-align: center;
}
.user_data table tr td .ra input:checked + label {
  background-color: #00BCD4;
  color: #FFF;
}
.user_data table tr td .ck {
  display: flex;
  justify-content: space-between;
}
.user_data table tr td .ck input {
  display: none;
}
.user_data table tr td .ck input + label {
  display: flex;
  align-items: center;
}
.user_data table tr td .ck input + label div {
  width: 6.667vw;
  height: 6.667vw;
  background: url(../image/ck_off.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.user_data table tr td .ck input + label p {
  margin-left: 3.333vw;
}
.user_data table tr td .ck input:checked + label div {
  width: 6.667vw;
  height: 6.667vw;
  background: url(../image/ck_on.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.user_data .btn_save {
  display: block;
  width: 92%;
  margin: 0 auto;
  background-color: #00BCD4;
  color: #FFF;
  font-weight: bold;
  border-radius: 30px;
  padding: 3.333vw 0;
}

.datepicker {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 2px rgba(51, 51, 51, 0.15) !important;
}
.datepicker .datepicker--nav-title {
  font-weight: 600;
}
.datepicker .datepicker--nav-title i {
  color: #333;
}
.datepicker .datepicker--days-names {
  background-color: #00BCD4;
  padding: 8px;
}
.datepicker .datepicker--day-name {
  color: #FFF;
}
.datepicker .datepicker--cell {
  font-weight: 600;
  height: 50px;
  vertical-align: top;
}

.replay {
  width: 92%;
  margin: 0 auto;
}
.replay .top_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F8FA;
  border: 1px solid #00BCD4;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 8.333vw;
}
.replay .top_select select {
  background-color: #F5F8FA;
  padding: 3.889vw 6.667vw;
  box-sizing: border-box;
  outline: none;
  width: 70%;
}
.replay .top_select button {
  width: 30%;
  background-color: #00BCD4;
  color: #FFF;
  font-size: 4.167vw;
  padding: 3.889vw 0;
  border-radius: 30px;
}
.replay ul li {
  margin-bottom: 9vw;
}
.replay ul li figure {
  border: 1px solid #00BCD4;
  height: 52vw;
  margin-bottom: 2.222vw;
}
.replay ul li figcaption {
  border-bottom: 1px solid #00BCD4;
  padding-bottom: 2.222vw;
}
.replay ul li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.replay ul li div p {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2.222vw 0;
}

.m_bg {
  background-color: #000;
  opacity: 0.25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.diary .detail {
  width: 92%;
  margin: 6.667vw auto;
}
.diary .detail h3 {
  border: 1px solid #00BCD4;
  background-color: #FFF;
  color: #000;
  padding: 2.222vw 0;
  font-size: 5vw;
  text-align: center;
  margin: 0 auto 6.667vw;
  border-radius: 30px;
}
.diary .detail ul {
  display: flex;
  flex-wrap: wrap;
}
.diary .detail ul li:nth-child(2n+1) {
  margin-left: 0;
}
.diary .detail ul li {
  width: 49%;
  margin-left: 2%;
  background: linear-gradient(98deg, #67CC8E 1.82%, #BEEB9F 95.08%);
  border-radius: 8px;
  padding: 3.333vw;
  box-sizing: border-box;
  margin-bottom: 2.222vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.diary .detail ul li figcaption {
  color: #FFF;
  font-size: 3.333vw;
}
.diary .detail ul li figcaption p {
  margin-top: 1.111vw;
}
.diary .detail ul li figcaption strong {
  font-size: 6.667vw;
}
.diary .detail ul li figure {
  width: 11.111vw;
  height: 11.111vw;
}

.detail_data {
  width: 92%;
  margin: 0 auto;
}
.detail_data .container {
  border: 1px solid #00BCD4;
  border-radius: 30px 0 30px 0;
}
.detail_data .container h3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 3.333vw;
  padding: 5.556vw 0;
}
.detail_data .container h3 span {
  width: 5vw;
}
.detail_data .container h3 strong {
  font-size: 4.444vw;
  padding: 0 1.111vw;
}
.detail_data .container .chart_box {
  width: 92%;
  height: 60vh;
  margin: 0 auto;
}
.detail_data .container #chart-container {
  width: 100%;
  height: 100%;
}
.detail_data .container .tabs {
  display: flex;
  justify-content: center;
  background-color: #ECECEC;
  width: 92%;
  margin: 0 auto 6.667vw;
  border-radius: 30px;
  overflow: hidden;
}
.detail_data .container .tabs .tab-link:first-child {
  border-left: 0;
}
.detail_data .container .tabs .tab-link {
  width: 25%;
  text-align: center;
  padding: 2.222vw 0;
  border-left: 1px solid #ccc;
}
.detail_data .container .tabs .tab-link.current {
  background-color: #00BCD4;
  color: #FFF;
}
.detail_data .container div.tab-content {
  display: none;
}
.detail_data .container div.tab-content.current {
  display: block;
}/*# sourceMappingURL=style.css.map */