.sub_page{
    width: 100%;
    height: 100%;
    background-color: #f2f3f7;
    padding-left: 80px;
    padding-bottom: 60px;
    box-sizing: border-box;
    overflow-y: auto;
}
.sub_title{
    background-color: #fff;
    padding: 24px 40px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10); 
    box-sizing: border-box;
    margin-bottom: 20px;
}
.sub_title h2{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}
.sub_title h2 img{
    width: 4px;
    margin-right: 12px;
}
.sub_footer{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f2f3f7;
    padding-left: 80px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #c4cbd6;
}
.sub_footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_footer li::after{
    content: "";
    border-right:1px solid #c4cbd6;
    margin: 0 12px;
}
.sub_footer li:last-child::after{
    display: none;
}
.sub_footer strong{
    font-weight: bold;
}
.search_box{
    padding: 24px 40px;
    background-color: #fff;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10); 
    box-sizing: border-box;
    margin-bottom: 20px;
}
.search_box>ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #c4cbd6;
    padding: 12px 24px;
}
.search_box li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}
.search_box li:first-child{
    margin-left: 0;
}
.search_box strong{
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    padding-right: 12px;
}
.search_box span{
    padding: 0 8px;
}
.search_box select{
    width: 200px;
    border: 1px solid #c4cbd6;
    font-size: 16px;
    padding: 4px 12px;
    box-sizing: border-box;
}
.search_box input{
    border: 1px solid #c4cbd6;
    padding: 4px 12px;
    box-sizing: border-box;
    font-size: 16px;
}
.search_box input[type='date']{
    width: 180px;
    height: 36px;
}
.search_box .bt_ser{
    display: flex;
    background-color: #41ad8d;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    width: 80px;
    height: 36px;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}
.search_box .bt_ser img{width: 16px;height: 16px;margin-right: 4px;}
.search_box .ex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;
}
.search_box .ex img{
    width: 14px;
    height: 14px;
    margin-right: 8px;
}
.list_box{
    background-color: #fff;
    padding: 24px 40px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
}
.list_box .download{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 16px;
    font-weight: bold;
    color: #6a6a6a;
    border: 1px solid #6a6a6a;
    border-radius: 4px;
    margin-bottom: 12px;
}
.list_box .download img{
    width: 16px;
    margin-right: 6px;
}
.list_box table{
    width: 100%;
    margin-bottom: 20px;
}
.list_box table thead{
    border: 1px solid #a2cdc1;
    background-color: #f1f8f6;
}
.list_box table th{
    padding: 14px 0;
    font-weight: bold;
    border-right: 1px solid #a2cdc1;
    word-break: keep-all;
}
.list_box table tbody{
    border: 1px solid #bababa;
    text-align: center;
}
.list_box table td{
    padding: 14px 0;
    color: #6a6a6a;
    border-bottom: 1px solid #bababa;
}
#data_list tbody tr:nth-child(2n){
    background-color: #f4f5f6;
}
.paging{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.paging>i,.paging .pages{
    margin: 0 10px;
}
.paging>i{
    cursor: pointer;
}
.paging .page{
    margin: 0 3px;
    cursor: pointer;
}
.paging span{font-weight: bold;}
.paging span.active{
    color: #fff;
    background-color: #188764;
}
.paging span:hover{
    color: #fff;
    background-color: #188764;
}
.paging > i{
    border: 1px solid #ddd;
    padding: 2px;
}
.pages > span{
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 2px 8px;
}
.chart_box{
    width: 96%;
    margin: 0 auto;
}
.chart_box>li{
    margin-bottom: 30px;
}
.chart_box .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c4cbd6;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.chart_box .head h5{
    font-size: 16px;
    display: flex;
}
.chart_box .head h5 strong{
    font-weight: bold;
}
.chart_box .ex{
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 14px;
    color: #6a6a6a;
}
.chart_box .ex img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.sub_page .print{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: 1px solid #bababa;
    border-radius: 2px;
    color: #6a6a6a;
    font-weight: bold;
    background-color: #fff;
}
.sub_page .print img{
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.chart_box .body{
    background-color: #fff;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}
.chart_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.chart_list li{
    width: 25%;;
    margin-bottom: 20px;
}
.chart_list li:first-child{
    margin-left: 0;
}
.chart_list li:nth-child(4n+1){
    margin-left: 0;
}
.chart{
    position: relative;
    width: 220px;
    height: 220px;
    background-color: #c4cbd6;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.chart.bar1{
    background: conic-gradient(#a6e375 58% 0%, #49ba84 42% 100%);
}
.chart.bar2{
    background: conic-gradient(#a6e375 10% 0%, #49ba84 10% 100%);
}
.chart.bar3{
    background: conic-gradient(#a6e375 30% 0%, #49ba84 30% 100%);
}
.chart.bar4{
    background: conic-gradient(#a6e375 50% 0%, #49ba84 50% 100%);
}
.chart.bar5{
    background: conic-gradient(#a6e375 31% 0%, #49ba84 31% 100%);
}
.chart.bar6{
    background: conic-gradient(#a6e375 5% 0%, #49ba84 5% 100%);
}
.chart.bar7{
    background: conic-gradient(#a6e375 4% 0%, #49ba84 4% 100%);
}
.chart.bar8{
    background: conic-gradient(#a6e375 60% 0%, #49ba84 60% 100%);
}
.chart .center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.chart .center strong{
    font-size: 64px;
}
.chart_list p{
    font-size: 16px;
    text-align: center;
    word-break: keep-all;
}
.chart_list p strong{
    font-weight: bold;
}
.detail_chart{
    width: 96%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px;
    box-sizing: border-box;
}
.detail_chart h5{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.detail_chart #line_chart{
    height: 470px;
}
.bt_line{
    width: 96%;
    margin: 0 auto 12px;
    border-bottom: 1px solid #c4cbd6;
    padding: 10px 0;
}
.bt_line .print{
    margin-left: auto;
}

.reg_container{
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);   
}
.reg_container table{
    width: 100%;
}
.reg_container th{
    background-color: #f1f8f6;
    border: 1px solid #a2cdc1;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
}
.reg_container td{
    border: 1px solid #a2cdc1;
    text-align: center;
    padding: 8px 10px;
}
.reg_container td input{
    border: 1px solid #c4cbd6;
    background-color: #f8f9fb;
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
}
.reg_container td strong{
    font-weight: bold;
    font-size: 16px;
}
.reg_container .flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reg_container .flex span{
    font-weight: bold;
    font-size: 20px;
    padding: 0 12px;
}
.bt_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}
.bt_box button{
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
}
.bt_box .bt_cancel{
    border: 1px solid #188764;
    color: #188764;
    background-color: #fff;
    margin-left: 12px;
}
.bt_box .bt_reg{
    border: 1px solid #188764;
    color: #fff;
    background-color: #188764;
}
.bt_onoff{
    width: 60px;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #464a69;
    border-radius: 2px;
    margin-left: 12px;
    color: #464a69;
}
.bt_onoff.on{
    color: #c51a08;
    border-color: #c51a08;
}
#water_list input{
    padding: 4px 12px;
    box-sizing: border-box;
    background-color: #f8f9fb;
    border: 1px solid #c4cbd6;
    width: 100%;
}
#water_list .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.reg_container textarea{
    border: 1px solid #c4cbd6;
    background-color: #f8f9fb;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 200px;
}
.reg_agency{
    display: block;
    width: 60% !important;
    margin: 0 auto;
}
.reg_agency .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reg_agency .flex.ad_reg{
    margin-bottom: 12px;
}
.reg_agency button{
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #188764;
    color: #188764;
    background-color: #fff;
    margin-left: 20px;
    white-space: nowrap;
    padding: 10px;
    box-sizing: border-box;
}
.reg_agency input{
    text-align: center;
}
.reg_agency button.bt_plus{
    border: 1px solid #c4cbd6;
}
.water_set .flex{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.water_set .flex span{
    padding: 0 12px;
}
.water_set input[type='text']{
    border: 1px solid #c4cbd6;
    background-color: #f8f9fb;
    padding: 8px 12px;
    width: 10%;
}
.search_box .m_bt{display: none;}
input[type="date"].after::-webkit-calendar-picker-indicator{
    margin-left: 0px;
}
.m_table{display: none;}
@media screen and (max-width: 1400px) {
    .search_box li{
        margin-bottom: 12px;
    }
    .search_box li:last-child{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 800px) {
    .sub_footer{
        display: none;
    }
    .sub_page{
        padding: 0;
    }
    .sub_title{
        padding: 3.333vw 5.556vw;
    }
    .sub_title h2{
        font-size: 5.556vw;
    }
    .search_box{
        padding: 6.667vw 5.556vw;
    }
    .search_box>ul{
        padding: 3.333vw;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: normal;
        align-items: normal;
    }
    .search_box li{
        margin-left: 0;
    }
    .search_box strong{
        font-size: 3.889vw;
    }
    .search_box select{
        width: 100%;
        padding: 1.667vw 2.778vw;
        font-size: 3.889vw;
    }
    .search_box input[type='date']{
        width: 27.778vw;
        font-size: 3.333vw;
    }
    .search_box .bt_ser{display: none;}
    .search_box .m_bt{display: block;}
    .search_box .m_bt .bt_ser{display: flex;width: 100%;margin: 0;}
    .search_box .ex{align-items: flex-start;}
    .list_box{padding: 5.556vw;}
    .list_box table{display: none;}
    .list_box .m_table{display: table;}
    .list_box .m_table{
        border-top: 2px solid #a2cdc1;
        border-bottom: 2px solid #a2cdc1;
    }
    .list_box table tbody{border: 0;}
    .list_box .m_table tr{
        border-bottom: 1px solid #d7dde3;
    }
    .list_box .m_table th,.list_box .m_table td{
        border: 0;
        text-align: left;
        padding: 3.333vw 2.222vw;
    }
    .paging{display: none;}
    .sub_page .print{
        display: none;
    }
    .chart_box{
        width: 100%;
    }
    .chart_box .head{
        width: 92%;
        margin: 0 auto 5.556vw;
        border-bottom: 0;
    }
    .chart_box .head h5{
        flex-direction: column;
    }
    .chart_box .head h5 p{
        margin-bottom: 2.222vw;
    }
    .chart_box .ex{
        margin-left: 0;
        align-items: flex-start;
        font-size: 3.889vw;
        word-break: keep-all;
    }
    .chart_box .body{
        padding: 5.556vw;
    }
    .chart_list{
        justify-content: space-between;
    }
    .chart_list li{
        width: 46%;
    }
    .chart{
        width: 36.111vw;
        height: 36.111vw;
        margin: 0 auto 3.333vw;
    }
    .chart .center{
        width: 27.778vw;
        height: 27.778vw;
        font-size: 5vw;
    }
    .chart .center strong{
        font-size: 11.111vw;
    }
    .detail_chart #line_chart{
        height: 63.889vw;
    }
    .bt_line{display: none;}
    .detail_chart{width: 100%;}
}